name: Semantic Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
   
   
jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        
    - name: Install dependencies
      run: |
        python3 -m pip install python-semantic-release  
        
    - name: Branch protection OFF
      uses: octokit/request-action@v2.x
      with:
        route: PUT /repos/:repository/branches/main/protection
        repository: ${{ github.repository }}
        required_pull_request_reviews: |
          null
        required_status_checks: |
          null
        enforce_admins: |
          null
        restrictions: | 
          null 
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_MERGE }}
           
    - name: Python Semantic Release
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "action@github.com"
        semantic-release publish -D commit_author="github-actions <action@github.com>"
      env:
        GH_TOKEN: ${{ secrets.TEST_MERGE }}
        
    - name: Branch protection ON
      uses: octokit/request-action@v2.x
      with:
        route: PUT /repos/:repository/branches/main/protection
        repository: ${{ github.repository }}
        required_pull_request_reviews: |
          required_approving_review_count: 1       
        required_status_checks: |
          null
        enforce_admins: |
            null
        restrictions: | 
            null
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_MERGE }}
        
        
        

#     - name: Python Semantic Release
#       uses: relekang/python-semantic-release@master
#       with:
#         github_token: ${{ secrets.TEST_MERGE }}



"enforce_admins", "required_status_checks", "restrictions" weren't supplied.

          required_status_checks: |
            null
          enforce_admins: |
            null
          required_pull_request_reviews: |
            null
          restrictions: | 
            null 

